

.main{
    width: 90%;
    margin:0 auto;
    position: relative;
    display:flex;
    flex-direction:column;
    z-index: 1;

    .mygrid{
        width: 100%;
        margin:auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,300px));
        grid-gap:10px;
    }

}

@media(max-width: 700px){
    .main{
        .mygrid{
            display:flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
        }
    }
}