@import '_variables';

.main{
    width: 90%;
    margin:0 auto;
    position: relative;
    display:flex;
    flex-direction:column;
    z-index: 1;

    .mygrid{
        width: 100%;
        margin:auto;
        @include flexer(row,space-around,none);
        flex-wrap:wrap;
    }

}

@media(max-width: 700px){
    .main{
        .mygrid{
            display:flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
        }
    }
}