@import 'variables';

.myform {
    position: relative;
    @include size(100%, 200px);
    margin-bottom: 50px;
    form{
        height: 100%;
        max-width: 700px;
        margin:auto;
        @include flexer(column, flex-start, center);
        border : solid black 2px;
        border-radius:30px;
        background: $block-color;
        position: relative;
        input{
            flex:0.5;
            border: none;
            background:none;
            font-weight: 700;
            font-size: 1.5rem;
            width:90%;
            &:focus{
                outline:none;
            }
        }
        textarea{
            font-size: 1.2rem;
            border: none;
            flex: 2;
            background : none;
            width: 90%;
            &:focus{
                outline :none;
            }
        }
        button{
            position: absolute;
            width: 50px; 
            height: 50px; 
            border-radius : 50%;
            right: 5%;
            bottom:-25px;
            background: $navbar-color;
            color : $logo-color;
            font-weight: 700;
            &:focus{
                outline :none;
            }
            &:hover{
                background : lighten($navbar-color,5%);
            }
        }
    }
}