@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.navbar{
    @include size(100%,$navbar-height);
    background :$navbar-color;
    color : $logo-color;
    align-items:center;
    @include flexer(row,center,center);
    @include shadowed();
    position: fixed;
    top:0;
    z-index:2;

    div {
        font-family :'Yellowtail', cursive ;
        font-size: 1.4em;
        @include flexer(row,space-between, center);
        width: 90%;
        margin: auto;
    }
}