@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.navbar{
    @include size(100%,80px);
    background :$navbar-color;
    color : $logo-color;
    align-items:center;
    @include flexer(row,center,center);


    div {
        font-family :'Yellowtail', cursive ;
        font-size: 1.4em;
        @include flexer(row,space-between, center);
        width: 90%;
        margin: auto;
    }
    .add{
        display:flex;
        justify-content: flex-end;
        cursor:pointer;
    }
}